[dobson]
SlackApiToken = xoxb-00000000000-000000000000-AAAAAAAAAAAAAAAAAAAAAAAA
DobsonSlackId = UCAAAAAAA
KnownDevicesFile = dobson/devices.json
MacAddressLogFile = dobson/mac_addresses.txt
AllowedChannelIds = [
    "GCAAAAAAA"
    ]
