from collections import namedtuple

Device = namedtuple('Device', ['presence', 'user', 'model'])

SLACK_API_TOKEN = 'xoxb-00000000000-000000000000-AAAAAAAAAAAAAAAAAAAAAAAA'

# Only allow querying for presence in certain channels
ALLOWED_CHANNEL_IDS = ('GCAAAAAAA')

# The user ID of the dobson bot
DOBSON_SLACK_ID = 'UCAAAAAAA'

# A mapping of MAC addresses to people and device types
#
# Presence attributes are used to determine whether to list someone in Dobson's
# output or not
#
# TODO: Allow MAC addresses to be any case (upper or lower) and still match
# Currently they must be lowercase to work
KNOWN_DEVICES = {
  'aa:aa:aa:aa:aa:aa': Device(presence=True, user='Someone', model='desktop'),
}
